.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: var(--color-purple);
  color: var(--color-dark-gray);
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: center;
  gap: 1em;
  z-index: 1000;
}

.header button {
  background-color: var(--color-whiteish);
  color: var(--color-dark-gray);
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  font-weight: 600;
}

.header .logOutBtn {
  background-color: var(--color-purpleish);
}

.header button:hover {
  background-color: var(--color-hover-purple);
}
